**/build/
**/bin/
**/cmake-build-debug/
**/.idea
**/.vscode
**/.devcontainer
**/a.out
**/out/
**/*.log
.gradle/
**/*.retry
**/*.iml
**/.settings/
**/.project
**/.classpath
**/docs/docs/api
**/docs/docs/javadoc
?/
internal-docs/site
docs/docs/api
docs/virtualenv
.DS_Store
cpp/jvm-enclave-avian/generated_dlsym/dlsym.*
cpp/jvm-enclave-common/include/enclave_jni.h
cpp/jvm-host-shared/include/host_jni_shared.h
stale_outputs_checked
dokka/dokka/
