// Inside the enclave we don't have the rtld to do symbol lookups for us. So, we must manually compute
// the name->address mappings at compile time and then let the SGX ELF loader apply the relocs itself.
//
// Because there are quite a few symbols we might want to look up, the final file is generated using a script.
// This is just a template.
//

#include <dlsym_symbols.h>

extern "C" {
// DECLARATIONS HERE
}

DLSYM_STATIC {
// ENTRIES HERE
}
